.form-control {
    border-radius: 30px;
    width: 800px;
    margin-left: 50px;
    margin-top: 15px; 
}

.search-icon {
    position: auto;
    z-index: 10;
    right: 65%;
    top: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}